*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background: #fff;
}
header h1{
    font-size: 5rem;
    padding: 1rem 0 3rem 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
header nav ul{
    display: flex;
}
header nav ul a{
    color: #fff;
    padding: 1rem 2rem;
    display: block;
    font-size: 1.2rem;
}
header nav ul a:hover{
    background-color: #fff;
    color: #000;
    font-weight: 700;
}


.main{
    padding: 0 2rem;
}
.main .Dep-menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 1rem 0;
}
.main .Dep-menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.main .Dep-menu a p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;

}
.main .Dep-menu a img{
    border-radius: 50%;
    object-fit: contain;
}

.main .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2rem 0;
}
.main .content .card{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding: 1rem;
    position: relative;

}
.main .content .card img{
    width: 80%;
    height: 280px;
    object-fit: contain;
}
.main .content .card h3{
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.main .content .card span{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
}
.main h1{
    margin: 1rem 0;
}
.main form{
    display: flex;
    align-items: flex-start;
    padding: 5rem 0;
}
.lable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.lable label{
    margin-bottom: 1rem;
    font-size: 1.5rem;

}

.inbuts{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
}
.inbuts input{
    margin-bottom: 1rem;
    padding: 0.23rem 0.5rem;
    width: 26rem;

}
.inbuts button{
    padding: 0.8rem 5rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.inbuts select{
    margin-bottom: 1rem;
}
.ed{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;

}
.delete,.edit{
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

.delete{
    background-color: red;
    color: #fff;
}
.edit{
    background-color: green;
    color: #fff;
}

.info{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}
.info h1{
    font-size: 4rem;
    margin-bottom: 53px;
    font-weight: 700;
}
.info p {
    font-size: 2rem;
    margin-bottom: 53px;
}
.info span{
    font-weight: bold;
}

.contact {
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
}
.contact h1{
    font-size: 4rem;
}
.contact h3{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.contact form{
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
footer{
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px 0;
}